NET "ADin[7]" IOSTANDARD = LVCMOS33;
NET "ADin[6]" IOSTANDARD = LVCMOS33;
NET "ADin[5]" IOSTANDARD = LVCMOS33;
NET "ADin[4]" IOSTANDARD = LVCMOS33;
NET "ADin[3]" IOSTANDARD = LVCMOS33;
NET "ADin[2]" IOSTANDARD = LVCMOS33;
NET "ADin[1]" IOSTANDARD = LVCMOS33;
NET "ADin[0]" IOSTANDARD = LVCMOS33;
NET "ADout[7]" IOSTANDARD = LVCMOS33;
NET "ADout[7]" PULLUP;
NET "ADout[6]" IOSTANDARD = LVCMOS33;
NET "ADout[6]" PULLUP;
NET "ADout[5]" IOSTANDARD = LVCMOS33;
NET "ADout[5]" PULLUP;
NET "ADout[4]" IOSTANDARD = LVCMOS33;
NET "ADout[4]" PULLUP;
NET "ADout[3]" IOSTANDARD = LVCMOS33;
NET "ADout[3]" PULLUP;
NET "ADout[2]" IOSTANDARD = LVCMOS33;
NET "ADout[2]" PULLUP;
NET "ADout[1]" IOSTANDARD = LVCMOS33;
NET "ADout[1]" PULLUP;
NET "ADout[0]" IOSTANDARD = LVCMOS33;
NET "ADout[0]" PULLUP;
NET "Button[3]" IOSTANDARD = LVCMOS33;
NET "Button[2]" IOSTANDARD = LVCMOS33;
NET "Button[1]" IOSTANDARD = LVCMOS33;
NET "Button[0]" IOSTANDARD = LVCMOS33;
NET "Color[11]" IOSTANDARD = LVCMOS33;
NET "Color[10]" IOSTANDARD = LVCMOS33;
NET "Color[9]" IOSTANDARD = LVCMOS33;
NET "Color[8]" IOSTANDARD = LVCMOS33;
NET "Color[7]" IOSTANDARD = LVCMOS33;
NET "Color[6]" IOSTANDARD = LVCMOS33;
NET "Color[5]" IOSTANDARD = LVCMOS33;
NET "Color[4]" IOSTANDARD = LVCMOS33;
NET "Color[3]" IOSTANDARD = LVCMOS33;
NET "Color[2]" IOSTANDARD = LVCMOS33;
NET "Color[1]" IOSTANDARD = LVCMOS33;
NET "Color[0]" IOSTANDARD = LVCMOS33;
NET "Switch[5]" IOSTANDARD = LVCMOS33;
NET "Switch[4]" IOSTANDARD = LVCMOS33;
NET "Switch[3]" IOSTANDARD = LVCMOS33;
NET "Switch[2]" IOSTANDARD = LVCMOS33;
NET "Switch[1]" IOSTANDARD = LVCMOS33;
NET "Switch[0]" IOSTANDARD = LVCMOS33;


NET "clk_100MHz" LOC = E3;
NET "Color[11]" LOC = A4;
NET "Color[10]" LOC = C5;
NET "Color[9]" LOC = B4;
NET "Color[8]" LOC = A3;
NET "Color[7]" LOC = A6;
NET "Color[6]" LOC = B6;
NET "Color[5]" LOC = A5;
NET "Color[4]" LOC = C6;
NET "Color[3]" LOC = D8;
NET "Color[2]" LOC = D7;
NET "Color[1]" LOC = C7;
NET "Color[0]" LOC = B7;
NET "hsync" LOC = B11;
NET "vsync" LOC = B12;
NET "Switch[5]" LOC = P4;
NET "Switch[4]" LOC = U9;
NET "Switch[3]" LOC = U8;
NET "Switch[2]" LOC = R7;
NET "Switch[1]" LOC = V7;
NET "Switch[0]" LOC = V5;
NET "Button[3]" LOC = F15;
NET "Button[0]" LOC = R10;
NET "Button[1]" LOC = T16;
NET "Button[2]" LOC = V10;
NET "ADout[0]" LOC = G14;
NET "ADout[1]" LOC = K1;
NET "ADout[2]" LOC = V11;
NET "ADout[3]" LOC = V15;
NET "ADout[4]" LOC = K16;
NET "ADout[5]" LOC = R16;
NET "ADout[6]" LOC = T9;
NET "ADout[7]" LOC = U11;
NET "ADin[0]" LOC = B13;
NET "ADin[1]" LOC = F14;
NET "ADin[2]" LOC = D17;
NET "ADin[3]" LOC = E17;
NET "ADin[4]" LOC = G13;
NET "ADin[5]" LOC = C17;
NET "ADin[6]" LOC = D18;
NET "ADin[7]" LOC = E18;


NET "A_D" IOSTANDARD = LVCMOS33;
NET "C_S" IOSTANDARD = LVCMOS33;
NET "clk_100MHz" IOSTANDARD = LVCMOS33;
NET "hsync" IOSTANDARD = LVCMOS33;
NET "R_D" IOSTANDARD = LVCMOS33;
NET "vsync" IOSTANDARD = LVCMOS33;
NET "W_R" IOSTANDARD = LVCMOS33;
#NET "clknex" IOSTANDARD = LVCMOS33;


NET "A_D" LOC = K2;
NET "C_S" LOC = E7;
NET "W_R" LOC = J3;
NET "R_D" LOC = J4;
#NET "clknex" LOC = H4;

